.owners_heading {
  display: flex;
  width: 1062px;
  height: 115px;
  padding-right: 52px;
  justify-content: space-between;
}

.owner_line,
.lines_heading {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

.lines_heading span {
  color: var(--ln-headings);
}

.profits {
  color: var(--green-color-content);
}

.losses {
  color: var(--red-color-content);
}

.add_form {
  display: flex;
  justify-content: space-evenly;
  width: 72%;
}

.iputs_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 35%;
}

.iputs_wrapper label {
  display: flex;
  margin: 10px 5px;
}

input {
  width: 65%;
  margin-left: auto;
}
