.owners_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.button_wrapper {
  padding: 7px 11px 0 0;
}

.form_buttons_wrapper {
  padding: 8px 0;
}

.form_buttons_wrapper button {
  display: block;
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
}

.form_buttons_wrapper button:first-child {
  color: #fff;
  background-color: #10cd45;
  border: none;
  border-radius: 5px;
}

.add_btn,
.some_btn {
  width: 68px;
  height: 36px;
  color: #fff;
  background-color: #10cd45;
  border: none;
  border-radius: 5px;
}

.add_btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0eb83e;
}

.some_btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #9dadb9;
}

.some_btn {
  margin-right: 12px;
  color: #9dadb9;
  background-color: #eef2f5;
}

.owner_line,
.lines_heading {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

.owner_line span {
  align-self: center;
}

.lines_heading span {
  color: var(--ln-headings);
}

.owner_line span {
  font-size: 14px;
}

.lines_heading span:first-child {
  padding-left: 27px;
}

.profits {
  color: var(--green-color-content);
}

.losses {
  color: var(--red-color-content);
}

.add_form {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(6, max-content);
  grid-gap: 30px;
}

.iputs_wrapper:first-child {
  grid-column: span 1;
}

.iputs_wrapper:last-child {
  grid-column: span 1;
}

.iputs_wrapper label {
  display: flex;
  margin: 10px 5px;
}

label span {
  margin-right: 1em;
}

input {
  padding-left: 1em;
  margin-left: auto;
}

.pagination-container {
  display: flex;
}

.page-num {
  box-sizing: border-box;
  width: 35.5px;
  height: 35.5px;
  color: #414141;
  background: #eef2f5 !important;
  border: none;
  border-radius: 5px !important;
}

.page-num:not(:nth-child(2)):not(:nth-last-child(2)) {
  display: none;
}

.page-num:nth-child(2) {
  position: relative;
  margin-right: 51px;
}

.page-num:nth-child(2)::after {
  position: absolute;
  content: 'of';
  width: 51px;
  height: 35.5px;
  padding-top: 15%;
  top: 0%;
  left: 100%;
  display: flex;
  justify-content: center;
}

.prev-btn,
.next-btn {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: none;
  background-color: #fff;
}

.prev-btn img {
  padding-left: 0;
  text-align: left;
}

.next-btn img {
  padding-right: 0;
  text-align: right;
  transform: rotate(180deg);
}

.pagination-container {
  margin-top: auto;
  align-self: center;
}

section.navigation {
  display: flex;
  flex-direction: column;
  padding: 56px 73px 45px 335px;
}

.owner h3 {
  display: flex;
  align-items: center;
  height: 66px;
  margin-bottom: 0;
  padding-left: 27px;

  font-size: 14px;
}

@media (max-width: 1200px) {
  .owner_line {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.1fr;
  }
}

@media (max-width: 768px) {
  section.navigation {
    padding-top: 35px;
  }

  .main-container {
    flex-direction: column;
  }

  h1 {
    font-size: 1.5em;
  }

  .lines_heading {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.2fr;
    font-size: 1.2em;
  }

  .lines_heading span:first-child {
    padding-left: 0;
  }

  .owners_heading {
    align-items: baseline;
    margin-bottom: 35px;
  }

  .owner_line {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.2fr;
  }

  .owners_heading:first-child {
    padding-left: 27px;
  }

  .owner h3 {
    padding-left: 0.5em;
  }

  .add_form {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, 100%);
  }

  .iputs_wrapper label {
    padding: 1.2em 1.1em;
  }

  .iputs_wrapper span {
    display: inline-block;
    margin: auto 0;
    font-size: 1.5em;
  }

  input {
    width: 80%;
    height: 2em;
    border: 2px solid #9dadb9;
    font-size: 1.5em;
  }

  .button_wrapper {
    grid-column: 1;
    margin: 0;
  }

  .form_buttons_wrapper button {
    font-size: 2em;
    padding: 0;
  }

  .add_btn,
  .some_btn {
    font-size: 1.1em;
  }
}

@media (max-width: 575px) {
  .lines_heading {
    font-size: 1em;
  }

  .owner_line {
    grid-template-columns: 1.3fr 1.2fr 0.7fr 0.7fr 1.2fr;
  }

  .owners_heading:first-child {
    padding-left: 2px;
  }

  .lines_heading {
    grid-template-columns: 1.3fr 1.2fr 0.7fr 0.7fr 1.2fr;
  }

  .lines_heading span:first-child {
    padding-left: 0;
  }
}
