.main_menu {
  /* position: fixed; */
  /* margin-left: -333px; */
  /* top: 0;
  left: 0; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* grid-column-start: 1; */
  width: 251px;
  padding: 0;
  background: linear-gradient(175.93deg, #5f00d8 -10.23%, #b200f1 117.03%);
}

.aside-top {
  margin-bottom: auto;
}

.logo_container {
  display: block;
  box-sizing: border-box;
  min-width: 251px;
  height: 117px;
  padding: 0 39px 0 30px;
}

.logo_container img {
  margin-top: 43px;
}

hr {
  text-align: left;
  margin-top: 35px;
}

.items_list {
  padding-top: 36px;
  padding-left: 33px;
  list-style: none;
}

.item {
  height: 62px;
}

.item a {
  display: flex;
  color: #fff;
}

.list_item,
.logout_item {
  display: flex;
  text-decoration: none;
  color: var(--white-text);
}

.item svg,
.logout_item svg {
  margin-right: 20px;
}

.list_item p,
.logout_item p {
  margin: 0;
}

.logout_item {
  margin: auto 0 47px 33px;
}

/* @media (min-width: 320px) and (max-width: 576px) {
  .item {
    font-size: 1.2em;
  }

  .item svg,
  .logout_item svg {
    margin-right: 10px;
  }
} */

@media (max-width: 576px) {
  .item {
    font-size: 1.2em;
  }

  .item svg,
  .logout_item svg {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .logo_container {
    display: none;
  }

  .aside-top {
    width: 100%;
  }

  .items_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .item {
    display: flex;
    flex-basis: 50%;
    /* min-width: 300px; */
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.2em;
    padding-top: 20px;
    margin: 0;
  }

  .items_list li,
  .logout_item {
    width: 300px;
    font-size: 1em;
    /* margin-bottom: 1.2em; */
  }

  /* .list_item,
  .logout_item {
    margin-right: 2em;
  } */

  .list_item svg,
  .logout_item svg {
    transform: scale(1.8);
  }
}
