:root {
  --basic-background: #f3f3f3;
  --odd-line-bacground: rgba(238, 242, 245, 0.4);

  --ln-headings: #878787;
  --green-color-content: #00ca39;
  --red-color-content: #e44067;
  --dark-text: #414141;
  --white-text: #ffffff;
}

#root {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  font-family: lato, sans-serif;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.container-fluid {
  height: inherit;
  padding: 0;
}

main {
  height: inherit;
  margin: 0 auto;
}

.owner:nth-child(odd) {
  background-color: var(--odd-line-bacground);
}
