:root {
  --basic-background: #f3f3f3;
  --odd-line-bacground: rgba(238, 242, 245, 0.4);

  --ln-headings: #878787;
  --green-color-content: #00ca39;
  --red-color-content: #e44067;
  --dark-text: #414141;
  --white-text: #ffffff;
}

body {
  margin: 0;

  font-family: lato, sans-serif;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: grid;
  grid-template-columns: 251px 1190px;
  grid-template-rows: 946px;

  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  grid-column-start: 2;
  padding: 0 52px 0 75px;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    margin-top: 0;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
  .container {
    grid-column-start: 1;
    padding: 0 40px 0 40px;
    font-size: 1.8em;
  }
}

.owner:nth-child(odd) {
  background-color: var(--odd-line-bacground);
}
